# Ignore node_modules
node_modules

# Ignore build output
/dist

# Ignore environment files
.env

# Ignore log files
*.log

# Ignore dependency directories
pids
logs
results

# Ignore any personal IDE or code editor settings
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore Mac-specific files
.DS_Store

# Ignore temporary files
*.tmp

# Ignore .gitattributes files

.gitattributes

# Ignore system files that might appear on external web servers
Thumbs.db
ehthumbs.db

# Ignore compiled TypeScript files
*.js
